<header class="p-3 bg-light border-bottom shadow-sm">
  <div class="container">
    <div class="d-flex flex-wrap align-items-center justify-content-between">
      <!-- Logo -->
      <a href="/" class="d-flex align-items-center mb-2 mb-lg-0 text-dark text-decoration-none">
        <img src="../../../../assets/recipelogo.png" height="60" alt="Logo" class="me-2">
        <span class="fs-4 fw-bold">Recipe App</span>
      </a>

      <!-- Navigation Links -->
      <ul class="nav me-auto mb-2 justify-content-center mb-lg-0" style="margin-left: 20px;">
        <li><a  *ngIf="isLoggedIn()" routerLink="users" routerLinkActive="active" class="nav-link text-dark px-3">Users</a></li>
        <li><a  *ngIf="isLoggedIn()" routerLink="columns" routerLinkActive="active" class="nav-link text-dark px-3">Columns</a></li>
        <li><a  *ngIf="isLoggedIn()" routerLink="recipes" routerLinkActive="active" class="nav-link text-dark px-3">Recipes</a></li>
        <li><a routerLink="about" routerLinkActive="active" class="nav-link text-dark px-3">About</a></li>
      </ul>

      <!-- Login/Register or Logout -->
      <div *ngIf="!isLoggedIn(); else loggedIn" class="d-flex align-items-center">
        <a routerLink="/login" class="btn btn-outline-primary me-2">Login</a>
        <a routerLink="/register" class="btn btn-primary">Register</a>
      </div>
      <ng-template #loggedIn>
        <div class="d-flex align-items-center">
          <span class="me-3 fw-bold text-dark">Welcome</span>
          <button (click)="logout()" class="btn btn-outline-danger">Logout</button>
        </div>
      </ng-template>
    </div>
  </div>
</header>
