<main>
  <section class="py-5 text-center container">
    <div class="row py-lg-5">
      <div class="col-lg-8 col-md-10 mx-auto">
        <h1 class="fw-bold">Welcome to the Recipe App!</h1>
        <p class="lead text-muted">
          Discover, share, and manage recipes. Explore collections curated by our users or create your own. Let’s make cooking fun and collaborative!
        </p>
        <p  *ngIf="isLoggedIn()">
          <a routerLink="/recipes" class="btn btn-primary my-2">Explore Recipes</a>
          <a routerLink="/my-recipes" class="btn btn-secondary my-2">My Recipes</a>
        </p>
      </div>
    </div>
  </section>

  <div  *ngIf="isLoggedIn()" class="album py-3 bg-light" >
    <div class="container">
      <h2 class="text-center mb-4">Featured Recipes</h2>
      <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-4">
        <div class="col" *ngFor="let recipe of recipes">
          <div class="card shadow-sm">
            <img
              src="{{ recipe.imageUrl }}"
              class="card-img-top"
              alt="{{ recipe.title }}"
              height="200"
              style="object-fit: cover;"
            />
            <div class="card-body">
              <h5 class="card-title">{{ recipe.title }}</h5>
              <p class="card-text text-muted">
                {{ recipe.description | slice: 0:100 }}...
              </p>
              <a [routerLink]="['/recipes', recipe._id]" class="btn btn-primary btn-sm">View</a>
              <br>
                <small class="text-muted">{{ recipe.cookingTime }} mins</small>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

</main>
